extends layout

block content
  h1=title
  p login
  input(type="text")#loginInput
  p password
  input(type="password")#passwordInput
  br
  button#loginButton Login
  br
  br
  a(href="register") Register