body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.content {
  width: 900px;
  margin: 0 auto;
  border: 2px solid black;
  box-shadow: 0px 0px 10px 0px #404040;
  padding: 30px;
  background: #fbfbfb;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

input {
  display: block;
}

.top {
  float: right;
}

ul {
  list-style-type: none;
  width: 600px;
}

li {
  padding: 5px 15px 5px 15px;
  overflow: auto;
  background-color: #AAAAFF;
  border-radius: 5px;
  margin: 10px 0px 10px 0px;
  color: #111;
}

div {
  margin-top: 20px;
  margin-bottom: 20px;
}

li p b {
  color: #000;
}